{% extends "uniformzulu/base.html" %}

{% block content %}

<div id='content'>
 
 <div class="innertube">
 
 {% block qcm %}{% endblock %}
 
 </div>
 
</div>

{% endblock %}

{% block ads %}
<script type="text/javascript"><!--
google_ad_client = "pub-2763109825900585";
/* 250x250, date de création 27/10/09, main, monppl.com */
google_ad_slot = "7435178704";
google_ad_width = 250;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
{% endblock %}