/* CSS Document */
body {
	background-attachment: fixed;
	left: 0px;
	top: 0px;
	margin: 0px;
	background-color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

.rounded_index table
{
    background-color: #E5E5E5;          /* if needed */
    -webkit-border-radius: 8px;    /* for Safari */
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    -moz-border-radius: 8px;       /* for Firefox */
    border: 1px;
    margin: 12px;
    color: #000000;
}

#aec_header {
	padding: 0; margin: 0;
	height: 27px;
	background: #787878 url(/site_media/header-bg-aec.gif) 0 0 repeat-x;
	text-align: center;
	line-height: 24px;
	font-size: 16px;
	letter-spacing: 0.30em;
	font-style: italic;
	font-variant:small-caps;
	font-weight: bold;
}